In [3]:
#question1
Marks = int(input("Enter Your Marks: "))
if Marks > 90 :
    print("Grade : A")
elif Marks >80 and Marks<=90:
    print("Grade : B")
elif Marks >=60 and Marks<=80:
    print("Grade : C")
else:
    print("Grade : D")

Enter Your Marks:  96

Grade : A

In [6]:
#question2
price = int(input("Enter the cost price of your bike: "))
tax = None
if price<=50000:
    tax=price*0.05
elif price>50000 and price<=100000:
    tax=price*0.10
else:
    tax=price*0.15
print('The amount of tax that you have to pay is',tax)

Enter the cost price of your bike:  50000

The amount of tax that you have to pay is 2500.0

In [12]:
#question3
city =str(input("Enter the name of the city: "))
if city=='Delhi'or city=='delhi':
    print("Red Fort")
elif city=='Agra' or city=='agra':
    print("Taj Mahal")
elif city=='Jaipur' or city=='jaipur':
    print("Jal Mahal")
else:
    pass

Enter the name of the city:  delhi

Red Fort

In [16]:
#question4
num = int(input("Enter a number = "))
count= 0
while num>10:
    num =num/3;
    count +=1
print('Number of Times=',count)

Enter a number =  345

Number of Times= 4

In [17]:
#question5
#The while loop executes a set of statements as long as a condition is true.
i = 1
while i < 5:
    print("Hello world")
    i = i + 1

Hello world
Hello world
Hello world
Hello world

In [9]:
#question5
print("1st\n")
n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("*", end = " ")
        j += 1
    print()
    i += 1
    
    
print('\n2nd\n')
#n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = n
    while j >= i:
        print("*", end = " ")
        j -= 1
    print()
    i += 1

print('\n3rd\n')

i = 1
while i <= n:
    j = i
    while j < n:
        # display space
        print(' ', end=' ')
        j += 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = n
while i >= 1:
    j = i
    while j <= n:
        print(' ', end=' ')
        j += 1
    k = 1
    while k < i:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

1st

Enter number of rows :  5

*
* *
* * *
* * * *
* * * * *

2nd

* * * * *
* * * *
* * *
* *
*

3rd

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [14]:
#question7&8
num=10
while num>0:
    print(num)
    num-=1

10
9
8
7
6
5
4
3
2
1